#root {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
}

button {
  margin-bottom: 1rem;
}

.markdown {
  text-align: left;
}

.filetree ul {
  list-style: none;
  padding-left: 0;
}

.filetree li button {
  display: block;
  margin: 0.2rem 0;
}

